<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="content jogadores">
            <div id="title jogadores">
                    <h1>jogadores de <%= pais %></h1>
            </div>
            <div id="jogadores">
                <ul>
                    <% jogadores.forEach(jogadores => { %>
                    <li><a href="/<%=pais%>/<%= jogadores%>"><%= jogadores%></a></li>
                <% }) %>
                </ul>
            </div>
            <a href="/">Voltar</a>
    </div>
</body>
</html>